@tailwind base;
@tailwind components;
@tailwind utilities;


/* In your main CSS file (e.g., index.css) */
/*
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f5f9;
}*/